.cv {
  font-family: "Avenir Next", serif;
  padding: 1rem 2rem;
  /*border: 3px outset #723D46;*/
  background-color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

.about {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

.profile figure {
  margin-right: auto;
  margin-left: auto;
  max-width: 150px;
  height: auto;
}

.profile img {
  max-width: 100%;
  height: auto;
}

.contacts ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.skills li{
  text-align: start;
}

.skill-item {
  max-width: 33%;
}

.skill-item ul {
  padding: 0;
}

/*.cv .profile {*/
/*  padding: 0 .5rem;*/
/*  border-radius: 1rem;*/
/*  background-color: #E26D5C;*/
/*  border: 3px groove #7C5055;*/
/*  color: white;*/
/*}*/

/*.cv .img-block {*/
/*  margin: 1rem 2rem;*/
/*}*/

/*.cv .img-block img {*/
/*  max-width: 10rem;*/
/*  max-height: 100%;*/
/*  border-radius: 1rem;*/
/*}*/

/*.cv .contacts {*/
/*  margin: 1rem 0;*/
/*}*/

/*.cv .contacts ul {*/
/*  margin: 0;*/
/*  padding: .5rem 1.5rem;*/
/*}*/

/*.cv ul {*/
/*  padding-left: 0;*/
/*  list-style-type: none;*/
/*}*/

/*.cv li {*/
/*  margin-bottom: .25rem;*/
/*  !*text-decoration-color: #FFF;*!*/
/*}*/

/*.cv .social {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-evenly;*/
/*}*/

/*.cv .social a {*/
/*  height: 2rem;*/
/*  transition: .3s ease-in-out;*/
/*}*/

/*.cv .social a:hover {*/
/*  transform: scale(1.3);*/
/*}*/

/*.cv .social img {*/
/*  max-width: 100%;*/
/*  max-height: 100%;*/
/*}*/

/*.cv .summary {*/
/*  padding: 1rem;*/
/*}*/

/*.cv .about {*/
/*  display: flex;*/
/*  justify-content: flex-start;*/
/*}*/

/*.cv p {*/
/*}*/

/*.skills {*/
/*  display: flex;*/
/*  flex-flow: row wrap;*/
/*  justify-content: space-around;*/
/*  align-content: center;*/
/*}*/
