<!--<div class="cv">-->
<!--  <header class="profile">-->
<!--    <div class="img-block">-->
<!--      <img src="/assets/img/profile_avatar.png" alt="">-->
<!--    </div>-->
<!--    <div class="contacts">-->
<!--      <ul class="contacts-list">-->
<!--        <li class="contacts-item"> Москва, Россия </li>-->
<!--        <li class="contacts-item"> 88005553535 </li>-->
<!--        <li class="contacts-item"> example@example.com </li>-->
<!--      </ul>-->
<!--      <div class="social">-->
<!--        <a href=""><img src="/assets/img/social/Facebook.png" alt=""></a>-->
<!--        <a href=""><img src="/assets/img/social/Twitter.png" alt=""></a>-->
<!--        <a href=""><img src="/assets/img/social/Behance.png" alt=""></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </header>-->
<!--  <article class="summary">-->
<!--    <h1>Имя Фамилия</h1>-->
<!--    <section class="about">-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error ipsa laborum molestiae necessitatibus-->
<!--        nobis non odio quibusdam recusandae? Dolore ea, voluptatum! Aliquid, inventore, nemo!-->
<!--      </p>-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ea possimus praesentium provident. Aliquid-->
<!--        asperiores aut, beatae commodi debitis deleniti dicta eaque eveniet fugiat fugit id ipsa itaque laboriosam-->
<!--        molestias nam nesciunt numquam perferendis, quaerat qui quia quisquam recusandae reprehenderit similique soluta-->
<!--        sunt ullam, veniam! Ad explicabo nulla quae voluptatibus.-->
<!--      </p>-->
<!--    </section>-->
<!--    <section class="skills">-->
<!--      <div class="skill-item">-->
<!--        <h3>Образование</h3>-->
<!--        <hr>-->
<!--        <ul>-->
<!--          <li></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="skill-item">-->
<!--        <h3>Программы</h3>-->
<!--        <hr>-->
<!--        <ul>-->
<!--          <li>Photoshop</li>-->
<!--          <li>inDesign</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="skill-item">-->
<!--        <h3>Навыки</h3>-->
<!--        <hr>-->
<!--        <ul>-->
<!--          <li>Профессиональное Выгорание</li>-->
<!--          <li>Сарказм</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </section>-->
<!--  </article>-->
<!--</div>-->

<article class="cv">
  <div class="conainer">
    <header>
      <h2> Иван Иванов </h2>
      <h3> Программист / Диванный аналитик </h3>
    </header>

    <section class="about">
      <div class="profile">
        <figure class="img-block">
          <img src="/assets/img/profile_avatar.png" alt="">
        </figure>
        <div class="contacts">
          <ul class="contacts-list">
            <li class="contacts-item"> Москва, Россия </li>
            <li class="contacts-item"> 88005553535 </li>
            <li class="contacts-item"> example@example.com </li>
          </ul>
        </div>
      </div>
      <h3> Обо мне </h3>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error ipsa laborum molestiae necessitatibus
        nobis non odio quibusdam recusandae? Dolore ea, voluptatum! Aliquid, inventore, nemo!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ea possimus praesentium provident. Aliquid
        asperiores aut, beatae commodi debitis deleniti dicta eaque eveniet fugiat fugit id ipsa itaque laboriosam
        molestias nam nesciunt numquam perferendis, quaerat qui quia quisquam recusandae reprehenderit similique soluta
        sunt ullam, veniam! Ad explicabo nulla quae voluptatibus.
      </p>
    </section>

    <section class="skills">
      <div class="skill-item">
        <h3>Образование</h3>
        <hr>
        <ul>
          <li>Мухосранское ПТУ (с отличием на 3)</li>
        </ul>
      </div>
      <div class="skill-item">
        <h3>Программы</h3>
        <hr>
        <ul>
          <li>Photoshop</li>
          <li>inDesign</li>
        </ul>
      </div>
      <div class="skill-item">
        <h3>Навыки</h3>
        <hr>
        <ul>
          <li>Профессиональное Выгорание</li>
          <li>Сарказм</li>
        </ul>
      </div>
    </section>
  </div>
</article>
