<article class="has-text-centered">
  <header class="section py-5">
    <h3 class="title"> Обо мне </h3>
    <hr>
  </header>
  <div class="columns is-multiline px-4">
    <section class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src="/assets/img/profile_avatar.png" alt="">
          </figure>
        </div>
        <div class="card-content has-text-justified">
          <div class="content">
            <p class="title"> Иван Иванов </p>
            <p class="subtitle">Программист / Диванный аналитик</p>
          </div>
        </div>
      </div>
    </section>

    <section class="column">
      <div class="content px-3">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error ipsa laborum molestiae necessitatibus
          nobis non odio quibusdam recusandae? Dolore ea, voluptatum! Aliquid, inventore, nemo!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ea possimus praesentium provident. Aliquid
          asperiores aut, beatae commodi debitis deleniti dicta eaque eveniet fugiat fugit id ipsa itaque laboriosam
          molestias nam nesciunt numquam perferendis, quaerat qui quia quisquam recusandae reprehenderit similique soluta
          sunt ullam, veniam! Ad explicabo nulla quae voluptatibus.
        </p>
      </div>
    </section>

    <section class="column is-12">
      <div class="tile is-ancestor">

        <div class="tile is-parent">
          <div class="tile is-child">
            <h4 class="title is-6">Образование</h4>
            <div class="content">
              <ul class="has-text-left">
                <li>Мухосранское ПТУ (с отличием на 3)</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="tile is-parent">
          <div class="tile is-child">
            <h4 class="title is-6">Программы</h4>
            <div class="content">
              <ul class="has-text-left">
                <li>Photoshop</li>
                <li>inDesign</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child">
            <h4 class="title is-6">Навыки</h4>
            <div class="content">
              <ul class="has-text-left">
                <li>Профессиональное выгорание</li>
                <li>Сарказм</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</article>
