<aside class="column is-narrow-tablet">
  <nav class="menu mt-6 py-3 has-background-white">
    <p class="menu-label has-text-centered">
      Меню
    </p>
    <ul class="menu-list">
      <li>
        <a routerLink="home" routerLinkActive="is-active" class="has-text-justified">
          <span class="icon is-medium"><i class="fas fa-id-badge"></i></span>
          <span>Обо мне</span>
        </a>
      </li>
      <li>
        <a routerLink="projects" routerLinkActive="is-active" class="is-vcentered">
          <span class="icon is-medium"><i class="fas fa-th-list"></i></span>
          <span>Портфолио</span>
        </a>
      </li>
      <li>
        <a routerLink="contacts" routerLinkActive="is-active">
          <span class="icon is-medium"><i class="fas fa-comment-alt"></i></span>
          <span>Обратная связь</span>
        </a>
      </li>
    </ul>

  </nav>
</aside>

<main class="column has-background-white">
  <router-outlet></router-outlet>
</main>

<aside class="column is-narrow-tablet">
  <section class="menu">
    <ul class="menu-list">
      <li>
        <a href="https://facebook.com" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  </section>
</aside>
