/* App Component Style */
header {
  background-color: #723D46;
  /*text-decoration-color: white;*/
  border-radius: 1rem;
}

header ul {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

header li {
  margin: 0 1rem;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  transform: scale(1.2);
  text-decoration: underline;
}

header a:active {
  text-decoration: underline;
}
