<aside class="sidebar">
  <nav class="sidebar-nav">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
    <a routerLink="home" routerLinkActive="active">
      <i>CV</i>
      Обо мне
    </a>
    <a routerLink="projects" routerLinkActive="active">
      <i>Projects</i>
      Портфолио
    </a>
    <a routerLink="contacts" routerLinkActive="active">
      <i>Contancs</i>
      Обратная связь
    </a>
  </nav>
</aside>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  Footer PlaceHolder
</footer>
