/* Global Styles */

html {
  font-family: Helvetica, serif;
  font-size: 20px;
  /*background-color: #F0F0F0;*/
}

body {
  padding: 0 1.5rem;
}

app-root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 0.5rem;
}
